<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLHSC3.Properties.Settings.QLHSC3ConnectionString"
            connectionString="Data Source=.;Initial Catalog=QLHSC3;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>